{% extends 'base.html.twig' %}

{% block title %}Il était une feuille
{% endblock %}

{% block body %}


	<section class="about">
		<div class="container">
			<div class="titre">
				<h1>Il était une feuille</h1>
				<h2>Atelier d'illustrations personnalisées</h2>
			</div>
			<div class="video" id="ytplayer"></div>
			
			<div class="text">
				<h3>
					"vos plus beaux souvenirs méritent du sur mesure"
				</h3>
				<p>
					L’atelier « il était une feuille » propose aux particuliers et professionnels des illustrations personnalisées sur divers formats et supports. Du faire-part jusqu’à la réalisation de fresques murales, ce site internet vous permettra de visualiser les différentes propositions de produits destinés aux mariages, cadeau de noël, anniversaire, saint Valentin ou autres événements de votre vie. Ce collectif est composé d’Emilie (carnettiste de voyage/peintre) et de Romain (portraitiste) qui ont décidé d’allier leur expérience dans les arts graphiques et plastiques pour proposer des produits uniques.
				</p>
			</div>

		</div>
	</section>

	<section class="clients">
		<div class="container">
			<h2>Ils nous font confiance</h2>
			<ul class="grid">
				<li>
					<div class="grid__img">
						<img src="../image/logos/logo-mdm.png" alt="annie"/>
					</div>
				</li>
				<li>
					<div class="grid__img">
						<img src="../image/logos/logo.png" alt="avast"/>
					</div>
				</li>
				<li>
					<div class="grid__img">
						<img src="../image/logos/logo-lamarieeencolere.png" alt="cafex"/>
					</div>
				</li>
				<li>
					<div class="grid__img">
						<img src="../image/logos/logo-final-marron-wilpotte.jpg.webp" alt="datum"/>
					</div>
				</li>
				<li>
					<div class="grid__img">
						<img src="../image/logos/DDAY_LOGO-website-white-1.png" alt="final"/>
					</div>
				</li>
				<li>
					<div class="grid__img">
						<img src="../image/logos/logo-la-tutullerie-white.png" alt="forward"/>
					</div>
				</li>
			</ul>
		</div>
	</section>




{% endblock %}
