
 
 .packages .box-container #ajax .box{
    border:var(--border);
    box-shadow: var(--box-shadow);
    background: var(--white);
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
 }
 

 
 .packages .box-container #ajax .box:hover .image img{
    transform: scale(1.1);
 }
 .heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3rem;
    text-transform: uppercase;
    color:var(--black);
 }
 .packages .box-container #ajax .box .image{
    
    overflow: hidden;
    flex: 1 0;
    max-height: 40rem;
 }
 
 .packages .box-container #ajax .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
    
 }
 
 .packages .box-container #ajax .box .content{
    padding:2rem;
    text-align: center;
    flex: 1 0;
    
 }
 
 .packages .box-container #ajax .box .content h3{
    font-size: 2.5rem;
    color:var(--black);
 }
 
 .packages .box-container #ajax .box .content p{
    font-size: 1.5rem;
    color:var(--light-black);
    line-height: 2;
    padding:1rem 0;
 }
 
 .packages .box-container #ajax .box .content span{
    font-size: 1rem;
    color:var(--light-black);
    line-height: 2;
    padding:1rem 0;
 }
 .packages .load-more{
    text-align: center;
    margin-top: 2rem;
 }

 @media (max-width:1100px) {
    .packages .box-container #ajax .box{
        flex-direction: column;
     }
 }

 