:root{
    --main-color:crimson;
    --black:#222;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-bg:rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
 }




.footer {
    background: var(--white);
    box-shadow:0 .5rem 1rem rgba(0,0,0,.5)
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr)),[auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}

#box2 {
text-align: center;
}
#box3 h3 {
    text-align: center;
}

.rs {
    display: flex;
    justify-content: space-evenly;
}

.rs #a {
    font-size: 3rem;
}

.footer .box-container .box1 h3 {
    font-size: 2.2rem;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box1 p {
    font-size: 1.6rem;
    color: var(--black);
    padding-bottom: 1rem;
}

.footer .box-container .box1 a {
    font-size: 1.4rem;
    color: var(--black);
    padding: 1rem 0;
    display: block;
}

.footer .box-container .box1 a:hover {
    color: var(--main-color);
}

.footer .box-container .box1 a:hover i {
    padding-right: 2rem;
}

.footer .box-container .box1 a i {
    padding-right: .5rem;
    color: var(--white);
}

.footer .box-container .box1 form input[type="email"] {
    width: 80%;
    padding: 1rem 1.2rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin: .7rem 0;
    border: 0.1rem solid var(--black);
}

.credit {
    text-align: center;
    font-size: 2rem;
    color: var(--white);
    background: var(--black);
}

@media screen and (max-width:450px){
    .footer {
        text-align: center;
    }

    #box3 {
        margin: auto;
        text-align: center;
    }
  }