*:not(head, video, header, footer),
::after,
::before {
  display: flex;
  flex-direction: column;
}

html {
  top: 0;
  left: 0;
  width: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "OpenSans";
  font-weight: 400;
  color: white;

}

*[class*="adaptive-img"] {
  position: relative;
}

*[class*="adaptive-img"]>span,
*[class*="adaptive-img"]>span>img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  border: none;
  display: block;
  position: absolute;
  box-sizing: border-box;
}

*[class*="adaptive-img"]>span {
  margin: 0;
  opacity: 1;
  width: initial;
  height: initial;
  overflow: hidden;
  background: none;
}

*[class*="adaptive-img"]>span>img {
  width: 0;
  height: 0;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.adaptive-img--cover>span>img {
  object-fit: cover;
}

.adaptive-img--contain>span>img {
  object-fit: contain;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf) format("opentype");
}

/* *****************************************************************
GENERALITES
***************************************************************** */

body {
  color: #414141;
  font-size: 1.8rem;
  background-color: #ededed;
  font-family: "Nunito", sans-serif;
}

.container {
  /* width: 100%; */
  margin: auto;
  max-width: 1400px;
}

.row {
  flex-wrap: wrap;
  flex-direction: row;
}

h1,
h2,
h3,
h4,
nav,
.logo strong {
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}


/* ***************************HEADER******************************** */

header {
  display: block;
  padding: 32px 0 0 0;
  background: linear-gradient(to bottom,
      rgba(208, 197, 186, 1) 0%,
      rgba(235, 227, 219, 0.25) 25%,
      rgba(255, 255, 255, 0) 100%);
}

header .row {
  padding: 20px 24px;
  align-items: center;
}

header .row>* {
  flex: 1 0;
}

.logo {
  margin: auto;
  height: 150px;
}

.logo strong,
h1,
h2,
h3 {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



.logo .img {
  width: 100%;
  height: 100%;
  max-width: 152px;
  max-height: 152px;
}

.logo .adaptive-img--contain {
  padding-bottom: 100%;
}



@media (max-width: 1100px) {
  header .row {
    gap: 32px;
    padding: 20px;
    flex-direction: column;
  }

  header .container {
    padding: 0;
    max-width: initial;
  }

  .logo {
    width: 100%;
    flex-direction: column;
    margin: auto;
  }

  .logo .img {
    max-width: 200px;
    max-height: 260px;
  }
}

@media (max-width: 760px) {
  .logo .img {
    max-width: 100%;
    margin: auto;
  }

  header .row {
    padding: 10px;
  }
}



/* ********************burger***************************** */

.newNavUl {
  gap: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav--mobile {
  z-index: 1;
  display: none;
  position: relative;
}

.nav--mobile button {
  height: 48px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  line-height: 48px;
  padding-left: 16px;
  position: relative;
  padding-right: 40px;
  background: transparent;
  font-family: "graphik", sans-serif;
}

.nav--mobile button:before,
.nav--mobile button:after {
  content: "";
  right: 12px;
  width: 16px;
  height: 1px;
  position: absolute;
  background: white;
}

.nav--mobile button:before {
  top: 46%;
}

.nav--mobile button:after {
  bottom: 40%;
}

@media (max-width: 450px) {
  .nav {
    display: none;
  }

  .nav--mobile {
    display: flex;
    z-index: 10;
  }
}

.button {
  z-index: 10;
}

.newNav {
  display: none;
}

.newNav.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.newNavUl {
  display: none;
}

.newNavUl.active {
  display: flex;
  flex-direction: column;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: black;
  justify-content: center;
}

.shadow.active {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.nav a,
.newNavUl a {
  z-index: 1;
  height: 48px;
  display: flex;
  color: white;
  font-size: 18px;
  padding: 0 16px;
  font-weight: 200;
  position: relative;
  align-items: center;
  text-decoration: none;
}

.nav a:hover:before,
.nav--mobile:hover:before {
  height: 48px;
  transform: scaleY(1);
}

.nav a:before,
.nav--mobile:before {
  content: "";
  left: 0;
  bottom: 0;
  height: 0;
  height: 100%;
  z-index: -1;
  width: 100%;
  position: absolute;
  border-radius: 4px;
  transform: scaleY(0);
  transform-origin: 0 bottom 0;
  transition: all 0.15s ease-out;
  background: hsla(0, 0%, 100%, 0.04);
}


/* *******************************Body********************************** */

/* *****************************************************************
SECTION ABOUT
***************************************************************** */



.text p,
h3 {
  gap: 16px;
  margin: 16px auto;
  padding: 0 16px;
  text-align: center;
}

.video {
  margin: 16px auto;

}



@media (max-width: 760px) {
  .about .video {
    max-width: 100%;
  }
}


/* **************************client**************************** */

.clients h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 30px;
  letter-spacing: -0.8px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
  background-color: pink;
  flex-direction: row;
  gap: 16px;
}

.grid li {
  flex: 1 0;
  /* min-width: 25%; */
  list-style: none;
  justify-content: center;
}

@media screen and (max-width:760px) {
  .grid li {
    flex: 1 0;
    min-width: 25%;
    list-style: none;
  }
}

@media screen and (max-width:450px) {
  .grid li {
    flex: 1 0;
    min-width: 100%;
    list-style: none;
  }
}

.grid__img img {
  width: 100%;
  height: auto;
}



/* *****************************blog********************************* */



.lesarticles {
  gap: 32px;
}

.article {
  flex: 1 0;
  flex-direction: column;
  background-color: white;
  /* border: solid 1px black; */
  margin-bottom: 32px;
}

.imgContent {
  flex: 1 300px;
  max-width: 400px;
}

/* #ajax {
  flex-direction: column;
  width: 100%;
  min-width: 250px;
  flex: 1 0;
  /* padding-bottom: 100%; */
  min-height: 250px;
  /* max-height: 250px; */
} */

.articleimg {

  padding-bottom: 100%;

}

.articletext {
  flex-direction: column;
  justify-content: space-between;
  text-overflow: clip;
  gap: 16px;
  text-align: center;
  flex: 1 500px;
}

.article h2,
span {
  padding: 16px;
}




/* ******************gallery************************* */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mygal {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;

}

.ulgal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  flex-direction: row;
}

.list {
  list-style: none;
  background: white;
  padding: 12px 20px;
  letter-spacing: 1px;
  cursor: pointer;
}

.list .active {
  background: palevioletred;
  color: white;
}

.imggalery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.imggalery .itemgalery {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px;
  display: block;
}

.imggalery .itemgalery.hide {
  display: none;
}

.imggalery .itemgalery img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* **********************modal*********************************** */

.container .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}

.container .popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}

.container .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  z-index: 100;
  width: 750px;
  object-fit: cover;
}

@media screen and (max-width:760px) {
  .container .popup-image img {
    width: 95%;
  }
}


/* ****************************product**************************** */


.produit {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;

}

.prodelement {
  max-width: 400px;

  align-items: center;
  min-width: 300px;
  flex: 1 0;
  flex-wrap: wrap;
  justify-content: space-evenly;


}

.prodimg {

  min-width: 250px;
  flex: 1 0;
  padding-bottom: 100%;
  min-height: 250px;
  max-height: 250px;
}

.prod_img {
  min-width: 250px;
  flex: 1 0;

  flex-wrap: wrap;

}

.prodtext {
  flex-direction: column;
  max-width: 250px;

  gap: 16px;
  text-align: center;
  flex: 1 0;
}