*:not(head, table, tbody, tfoot, thead, tr, td, th),
::after,
::before {

    display: flex;
    flex-direction: column;
}

html {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 62.5%;
}

body {
    flex: 1 0;
    font-size: 1.6rem;
    margin: auto;
}

html,
body {
    overflow: auto;
}

*[class*="adaptive-img"] {
    position: relative;
}

*[class*="adaptive-img"]>span,
*[class*="adaptive-img"]>span>img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    border: none;
    display: block;
    position: absolute;
    box-sizing: border-box;
}

*[class*="adaptive-img"]>span {
    margin: 0;
    opacity: 1;
    width: initial;
    height: initial;
    overflow: hidden;
    background: none;
}

*[class*="adaptive-img"]>span>img {
    width: 0;
    height: 0;
    margin: auto;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.adaptive-img--cover>span>img {
    object-fit: cover;
}

.adaptive-img--contain>span>img {
    object-fit: contain;
}

/* *****************************************************************
GENERALITES
***************************************************************** */

body {
    color: #414141;
    font-size: 1.8rem;
    background-color: #ededed;
    font-family: "Nunito", sans-serif;
}

.container {
    width: 100%;
    margin: auto;
    max-width: 1500px;
}

.row {
    flex-wrap: wrap;
    flex-direction: row;
}

h1,
h2,
h3,
h4,
nav,
.logo strong {
    font-family: "Fjalla One", sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}


/* ***************************HEADER******************************** */

header {
    padding: 32px 0 20px 0;
    background: linear-gradient(
      to bottom,
      rgba(208, 197, 186, 1) 0%,
      rgba(235, 227, 219, 0.25) 25%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  
  header .row {
    padding: 20px 24px;
    align-items: center;
  }
  
  header .row > * {
    flex: 1 0;
  }
  
  .logo {
    gap: 8px;
    color: black;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }
  
  .logo strong,
  h1,
  h2,
  h3 {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .logo .img {
    width: 100%;
    height: 100%;
    max-width: 152px;
    max-height: 152px;
  }
  
  .logo .adaptive-img--contain {
    padding-bottom: 100%;
  }
  
  .logo strong {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  @media (max-width: 1100px) {
    header .row {
      gap: 32px;
      padding: 0;
      flex-direction: column;
    }
    header .container {
      padding: 0;
      max-width: initial;
    }
    .logo {
      width: 100%;
      flex-direction: column;
    }
    .logo .img {
      max-width: 200px;
      max-height: 260px;
    }
  }
  
  @media (max-width: 760px) {
    .logo .img {
      max-width: 30%;
    }
  }
  
  /* *****************************************************************
  NAV
  ***************************************************************** */
  
  nav ul {
    gap: 40px;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  nav a {
    height: 48px;
    color: black;
    padding: 0 20px;
    line-height: 48px;
    font-weight: bold;
    text-decoration: none;
    background-color: #ebe3db;
    transition: all 0.7s linear;
  }
  
  nav a:hover,
  nav a:focus {
    color: white;
    background-color: #950000;
  }
  
  nav a.active {
    color: white;
    background-color: #4c4343;
  }
  
  @media (max-width: 1100px) {
    nav {
      width: 100%;
      background-color: #ebe3db;
    }
    nav ul {
      justify-content: space-around;
    }
  }
  
  @media (max-width: 760px) {
    nav ul {
      gap: 0;
      flex-direction: column;
    }
    nav ul li a {
      text-align: center;
      box-shadow: 0 -1px 0 #4c4343 inset;
    }
  }
  