{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href={{ asset( 'style/produits.css') }} type="text/css">
{% endblock %}

{% block title %}Les Produits d'il était une feuille{% endblock %}

{% block body %}
<section class="packages">

   <h1 class="heading-title">Nos Produits</h1>

   <div class="box-container">

      <div class="box">
         <div class="image">
            <img src="/image/product/Rond2.png" alt="fp">
         </div>
         <div class="content">
            <h3>Les Faire-part</h3>
            <p>Vous rêvez d’être en mesure de concevoir vous-même votre faire-part idéal ? Contez-nous vos envies, thèmes et inspirations, nos pinceaux coucheront vos idées sur le papier.</p>
            <a href="book.php" class="btn">book now</a>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="/image/product/rond-AAE.png" alt="aae">
         </div>
         <div class="content">
            <h3>Les arbres à empreintes</h3>
            <p>Voilà une animation qui permettra aux petits et grands de participer à l’élaboration d’une peinture que vous garderez après votre événement. À tour de rôle vos invités viendront apposer leurs empreintes sur une peinture d’un arbre nu. Leurs empreintes serviront de feuillage pour une oeuvre commune à tous. </p>
            <a href="book.php" class="btn">book now</a>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="/image/product/rond-GV.png" alt="gf">
         </div>
         <div class="content">
            <h3>Menus et plans de table grand format</h3>
            <p>Vous souhaitez un visuel époustouflant pour présenter  joliment votre menu, votre plan de salle, ou pour toute autre application ? Nous mettons un point d’honneur à le réaliser à votre image.</p>
            <a href="book.php" class="btn">book now</a>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="/image/product/rond-PE.png" alt="pe">
         </div>
         <div class="content">
            <h3>Les peintures extensions</h3>
            <p>Vous souhaitez mettre en valeur votre photo fétiche ? Nous proposons des extensions à l’aquarelle de celle-ci ! L’idée est d’imprimer votre photo sur un papier aquarelle et de l’intégrer à un décor de votre choix. De multiples exemples sont à découvrir dans nos réalisations.</p>
            <a href="book.php" class="btn">book now</a>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="/image/product/rond-PO.png" alt="po">
         </div>
         <div class="content">
            <h3>Les peintures portraits</h3>
            <p>Vous cherchez vraiment LE cadeau original pour fêter noël, un anniversaire, la saint Valentin ? Transmettez-nous une photographie de vous, de vos proches ; nous réaliserons les portraits qui vous sont chers.</p>
            <a href="book.php" class="btn">book now</a>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="/image/product/rond-HB.png" alt="hb">
         </div>
         <div class="content">
            <h3>Les honeyBooks</h3>
            <p>Qui n’a jamais rêvé d’être le héros de sa propre histoire ? A partir d’un savant mélange d’aquarelles et de décors enveloppants vos photographies, nous réalisons entièrement à la main votre livre de mariage, de naissance, de vie… Nos ouvrages sont entièrement illustrés et calligraphiés par nos soins puis confiés au savoir-faire d’artisans relieurs de renom.</p>
            <a href="book.php" class="btn">book now</a>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="/image/product/rond-FM.png" alt="fm">
         </div>
         <div class="content">
            <h3>Les fresques murales</h3>
            <p>Votre maison, votre terrasse, votre jardin sont autant de cocons  que vous aimez investir et personnaliser. Nous proposons des fresques et des calligraphies murales.</p>
            <a href="book.php" class="btn">book now</a>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="/image/product/rond-aff.png" alt="aff">
         </div>
         <div class="content">
            <h3>Les affiches</h3>
            <p>A partir d'une photographie de couple, nous proposons la réalisation et l'impression des affiches destinées à accueillir vos convives sur le lieu de votre réception.</p>
            <a href="book.php" class="btn">book now</a>
         </div>
      </div>

      <div class="box">
         <div class="image">
            <img src="/image/product/rond-PL.png" alt="pl">
         </div>
         <div class="content">
            <h3>les performances lives</h3>
            <p>Votre événement mérite une animation originale ! Nous sommes présents lors de vos cérémonies, croquons sur le vif vos soirées d’anniversaire et représentons l’ambiance de votre événement au plus proche de vos désirs. A la fois captivante et spectaculaire, cette prestation surprendra vos amis et votre famille.</p>
            <a href="book.php" class="btn">book now</a>
         </div>
      </div>
   </div>
</section>
{% endblock %}
