{% extends 'base.html.twig' %}

{% block title %}Les Produits d'il était une feuille{% endblock %}

{% block body %}
<article class="lesproduit">
        <div class="container">
          <div class="produit">
            <div class="prodelement">
                <div class="prod_img">
                  <div class="prodimg adaptive-img--cover">
                    <span>
                      <img src="/image/product/Rond2.png" alt="fp" />
                    </span>
                  </div>
                  <div class="prodtext">
                      <h2>Les Faire-part</h2>
                  <h3>Les créations</h3>
                  <p>
                    Vous rêvez d’être en mesure de concevoir vous-même votre
                    faire-part idéal ? Contez-nous vos envies, thèmes et inspirations,
                    nos pinceaux coucheront vos idées sur le papier. Retrouvez nos
                    tarifs dans le catalogue et contactez nous pour toute demande de
                    devis.
                  </p>
                  </div>
                </div>
              </div>
              <div class="prodelement">
                <div class="prod_img">
                <div class="prodimg adaptive-img--cover">
                  <span>
                    <img src="/image/product/rond-AAE.png" alt="AAE" />
                  </span>
                </div>
                <div class="prodtext">
                    <h2>Les arbres à empreintes</h2>
                <!-- <h3>Les créations</h3> -->
                <p>
                  Voilà une animation qui permettra aux petits et grands de participer à l’élaboration d’une peinture que vous garderez après votre événement. À tour de rôle vos invités viendront apposer leurs empreintes sur une peinture d’un arbre nu. Leurs empreintes serviront de feuillage pour une oeuvre commune à tous. 

Retrouvez nos tarifs dans le catalogue et contactez nous pour toute demande de devis.
                </p>
                </div>
              </div>
              </div>
              <div class="prodelement">
                <div class="prod_img">
                <div class="prodimg adaptive-img--cover">
                  <span>
                    <img src="/image/product/rond-GV.png" alt="GV" />
                  </span>
                </div>
                <div class="prodtext">
                    <h2>Les grands visuels</h2>
                <h3>Menus et plans de table</h3>
                <p>
                  Vous souhaitez un visuel époustouflant pour présenter  joliment votre menu, votre plan de salle, ou pour toute autre application ? Nous mettons un point d’honneur à le réaliser à votre image.

Retrouvez nos tarifs dans le catalogue et contactez nous pour toute demande de devis.


                </p>
                </div>
              </div>
              </div>
              <div class="prodelement">
                <div class="prod_img">
                <div class="prodimg adaptive-img--cover">
                  <span>
                    <img src="/image/product/rond-PE.png" alt="PE" />
                  </span>
                </div>
                <div class="prodtext">
                    <h2>LES PEINTURES</h2>
                <h3>Les extensions</h3>
                <p>
                  Vous souhaitez mettre en valeur votre photo fétiche ? Nous proposons des extensions à l’aquarelle de celle-ci ! L’idée est d’imprimer votre photo sur un papier aquarelle et de l’intégrer à un décor de votre choix. De multiples exemples sont à découvrir dans nos réalisations.

                  Retrouvez nos tarifs dans le catalogue et contactez nous pour toute demande de devis.


                </p>
                </div>
              </div>
              </div>
              <div class="prodelement">
                <div class="prod_img">
                <div class="prodimg adaptive-img--cover">
                  <span>
                    <img src="/image/product/rond-PO.png" alt="PO" />
                  </span>
                </div>
                <div class="prodtext">
                    <h2>LES PEINTURES</h2>
                <h3>Les portraits</h3>
                <p>
                  Vous cherchez vraiment LE cadeau original pour fêter noël, un anniversaire, la saint Valentin ? Transmettez-nous une photographie de vous, de vos proches ; nous réaliserons les portraits qui vous sont chers.

Retrouvez nos tarifs dans le catalogue et contactez nous pour toute demande de devis.


                </p>
                </div>
              </div>
              </div>
              <div class="prodelement">
                <div class="prod_img">
                <div class="prodimg adaptive-img--cover">
                  <span>
                    <img src="/image/product/rond-HB.png" alt="HB" />
                  </span>
                </div>
                <div class="prodtext">
                    <h2>
                      LES LIVRES ILLUSTRES</h2>
                <h3>Honeybook</h3>
                <p>
                  Qui n’a jamais rêvé d’être le héros de sa propre histoire ?

A partir d’un savant mélange d’aquarelles et de décors enveloppants vos photographies, nous réalisons entièrement à la main votre livre de mariage, de naissance, de vie… Nos ouvrages sont entièrement illustrés et calligraphiés par nos soins puis confiés au savoir-faire d’artisans relieurs de renom.

Sur devis nous contacter.


                </p>
                </div>
              </div>
              </div>
              <div class="prodelement">
                <div class="prod_img">
                <div class="prodimg adaptive-img--cover">
                  <span>
                    <img src="/image/product/rond-FM.png" alt="FM" />
                  </span>
                </div>
                <div class="prodtext">
                    <h2>LES DÉCORATIONS MURALES</h2>
                <h3>Fresques et calligraphies</h3>
                <p>
                  Votre maison, votre terrasse, votre jardin sont autant de cocons  que vous aimez investir et personnaliser. Nous proposons des fresques et des calligraphies murales.

Nous attendons vos projets pour évaluer le coût de notre prestation.


                </p>
                </div>
              </div>
              </div>
              <div class="prodelement">
                <div class="prod_img">
                <div class="prodimg adaptive-img--cover">
                  <span>
                    <img src="/image/product/rond-aff.png" alt="AFF" />
                  </span>
                </div>
                <div class="prodtext">
                    <h2>LES AFFICHES</h2>
                <!-- <h3>Menus et plans de table</h3> -->
                <p>
                  
LES AFFICHES
A partir d'une photographie de couple, nous proposons la réalisation et l'impression des affiches destinées à accueillir vos convives sur le lieu de votre réception.


                </p>
                </div>
              </div>
              </div>
              <div class="prodelement">
                <div class="prod_img">
                <div class="prodimg adaptive-img--cover">
                  <span>
                    <img src="/image/product/rond-PL.png" alt="PL" />
                  </span>
                </div>
                <div class="prodtext">
                    <h2>LES PERFORMANCES LIVES</h2>
                <!-- <h3>Menus et plans de table</h3> -->
                <p>
                  Votre événement mérite une animation originale ! Nous sommes présents lors de vos cérémonies, croquons sur le vif vos soirées d’anniversaire et représentons l’ambiance de votre événement au plus proche de vos désirs. A la fois captivante et spectaculaire, cette prestation surprendra vos amis et votre famille.

Retrouvez nos tarifs dans le catalogue et contactez nous pour toute demande de devis.


                </p>
                </div>
              </div>
              </div>
          </div>
        </div>
      </article>
{% endblock %}
