{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href={{ asset( 'style/footer.css') }} type="text/css">
{% endblock %}


{# footer  #}

<section class="footer">

	<div class="box-container">

		<div class="box1">
			<h3>newsletter</h3>
			<p>Inscrivez-vous à la newsletter</p>
			<form method="post">
				<input type="email" name="newsletter" placeholder="Entrez votre email" id="newsletter">
				<input type="submit" value="s'inscrire" class="btn">
			</form>
		</div>

		<div class="box1" id="box2">
			<h3>Menu</h3>
			<a href="/home">home</a>
			<a href="/product">Produits</a>
			<a href="/article">Blog</a>
			<a href="/realisation">Galerie</a>
			<a href="/contact">contact</a>
		</div>


		<div class="box1" id="box3">
			<h3>Réseaux Sociaux</h3>
			<div class="rs">
			 <a href="https://www.facebook.com/iletaitunefeuilleArt" target="_blank" id="a" class="fab fa-facebook-f"></a>
        <a href="https://www.linkedin.com/in/emilie-rakowitz-do-799041215/" target="_blank" id="a" class="fab fa-linkedin"></a>
        <a href="https://www.instagram.com/iletaitunefeuille/" target="_blank" id="a" class="fab fa-instagram"></a>
		</div>
		</div>


	</div>

</section>

<section class="credit">
	Crée par Romain Do pour l'examen de la 3WA
</section>
