{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href={{ asset( 'style/footer.css') }} type="text/css">
{% endblock %}
<!-- footer section  -->

<section class="footer">

	<div class="box-container">

		<div class="box1">
			<h3>newsletter</h3>
			<p>subscribe for latest updates</p>
			<form method="post">
				<input type="email" name="newsletter" placeholder="enter your email" id="newsletter">
				<input type="submit" value="subscribe" class="btn">
			</form>
		</div>

		<div class="box1" id="box2">
			<h3>quick links</h3>
			<a href="/home">home</a>
			<a href="/product">Produits</a>
			<a href="/article">Blog</a>
			<a href="/realisation">Galery</a>
			<a href="/login">login</a>
			<a href="/login">contact</a>
		</div>


		<div class="box1" id="box3">
			<h3>extra links</h3>
			<a href="https://www.facebook.com/iletaitunefeuilleArt">facebook</a>
			<a href="https://www.instagram.com/iletaitunefeuille/">instagram</a>
			<a href="https://www.linkedin.com/in/emilie-rakowitz-do-799041215/">linkedin</a>
		</div>


	</div>

</section>

<section class="credit">
	created by mr. Do Romain | all rights reserved!
</section>
