<nav>
	<ul>
		<li>
			<a href="/home">Acceuil</a>
		</li>
		<li>
			<a href="/home">Produits</a>
		</li>
		<li>
			<a href="/login">login</a>
		</li>
		<li>
			<a href="/article">Blog</a>
		</li>
		<li>
			<a href="/register">Réalisations</a>
		</li>
	</ul>
	<button>
		<a href="{{ path('app_logout') }}">logout</a>
	</button>
</nav>
