{% block stylesheets %}
	<link rel="stylesheet" href={{ asset( 'style/header.css') }} type="text/css">
{% endblock %}

<section class="header">

   <a href="/home" class="logo"><img src="/image/O1zdPW01.svg" alt="logo"> Il était une feuille</a>

   <nav class="navbar">
      <a href="/home">home</a>
      <a href="/product">produit</a>
      <a href="/article">blog</a>
      <a href="/realisation">galery</a>
   </nav>

   <div id="menu-btn" class="fas fa-bars"></div>

</section>

