{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href={{ asset( 'style/newArticle.css') }} type="text/css">
{% endblock %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    <h1>Modifier l'article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a class="retour" href="{{ path('app_article_index') }}">Retour aux articles</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
