{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href={{ asset( 'style/blog.css') }} type="text/css">
{% endblock %}


{% block title %}Le blog - Il était une feuille
{% endblock %}

{% block body %}
	<section class="packages">

		<h1 class="heading-title">Le blog</h1>

		<div class="box-container">
			<div id="ajax">
				please enable javascript for visiting us
			</div>

		</div>
	</section>

	<a href="{{ path('app_article_new') }}">Create new</a>

	<script src="{{ asset ('js/ajax.js') }}"></script>
{% endblock %}
