{% extends 'base.html.twig' %}


{% block title %}Le blog - Il était une feuille
{% endblock %}

{% block body %}
	<h1>Article index</h1>
	
		<div class="container">

			<div id="ajax">
				please enable javascript for visiting us
			</div>


		</div>
	
	<a href="{{ path('app_article_new') }}">Create new</a>

	<script src="{{ asset ('js/ajax.js') }}"></script>
{% endblock %}
