{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href={{ asset( 'style/newArticle.css') }} type="text/css">
{% endblock %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Cree votre article</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">Revenir à la liste d'articles</a>
{% endblock %}
