{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href={{ asset( 'style/blog.css') }} type="text/css">
{% endblock %}
{% block title %}Article
{% endblock %}

{% block body %}
	<h1>Article</h1>


	
	
        <div class="cards">
		<div class="card">
			<div class="card__img">
				<img src="../upload/image/{{articles.image }}" alt="image_article"/>
			</div>

			<span class="card__title">{{ articles.title }}</span>

			<p class="card__text">
				{{ articles.content }}
			</p>
		</div>
	</div>
		
	
	
	

{% endblock %}
