{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href={{ asset( 'style/galery.css') }} type="text/css">
{% endblock %}

{% block title %}Les réalisations- Il était une feuille
{% endblock %}

{% block body %}

	<div id="side-menu" class="fas fa-bars"></div>

	<div class="side-bar">
		<h1 class="heading">filtre d'images</h1>
		{# <div class="box">
			<h3 class="title">search image :</h3>
			<input type="text" placeholder="search image..." id="search-box">
		</div> #}
		<div class="box">
			<h3 class="title">categorie :</h3>
			<div class="category">
				<div class="btn active" data-category="all">
					all
				</div>
				<div class="btn" data-category="fp">faire-part</div>
				<div class="btn" data-category="aae">Arbre à empreintes</div>
				<div class="btn" data-category="hb">Honeybook</div>
				<div class="btn" data-category="pe">Peinture extension</div>
				<div class="btn" data-category="po">peinture originale</div>
				<div class="btn" data-category="pl">peinture live</div>
				<div class="btn" data-category="gf">Grands formats</div>
				<div class="btn" data-category="dm">Fresque murale</div>
			</div>
		</div>
	</div>
	<div class="gallery">
		
			<div class="image-container">
				{# <img src="image\fp\1_fp.jpg" data-item="fp" alt="img"> #}
				<img src="image\aae\1_aae.jpeg" data-item="aae" alt="img">
				<img src="image\hb\1_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\1_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\1_po.jpg" data-item="po" alt="img">
				<img src="image\pl\1_pl.jpg" data-item="pl" alt="img">
				<img src="image\gf\1_gf.jpg" data-item="gf" alt="img">
				<img src="image\dm\1_dm.jpg" data-item="dm" alt="img">
				<img src="image\fp\2_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\2_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\2_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\2_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\2_po.jpg" data-item="po" alt="img">
				<img src="image\pl\2_pl.jpg" data-item="pl" alt="img">
				<img src="image\gf\2_gf.jpg" data-item="gf" alt="img">
				<img src="image\dm\2_dm.jpg" data-item="dm" alt="img">
				<img src="image\fp\3_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\3_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\3_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\3_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\3_po.jpg" data-item="po" alt="img">
				<img src="image\pl\3_pl.jpg" data-item="pl" alt="img">
				<img src="image\gf\3_gf.jpg" data-item="gf" alt="img">
				<img src="image\dm\3_dm.jpg" data-item="dm" alt="img">
				<img src="image\fp\4_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\4_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\4_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\4_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\4_po.jpg" data-item="po" alt="img">
				<img src="image\pl\4_pl.jpg" data-item="pl" alt="img">
				<img src="image\gf\4_gf.jpg" data-item="gf" alt="img">
				<img src="image\dm\4_dm.jpeg" data-item="dm" alt="img">
				<img src="image\fp\5_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\5_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\5_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\5_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\5_po.jpg" data-item="po" alt="img">
				<img src="image\pl\5_pl.jpg" data-item="pl" alt="img">
				<img src="image\gf\5_gf.jpg" data-item="gf" alt="img">
				<img src="image\dm\5_dm.jpeg" data-item="dm" alt="img">
				<img src="image\fp\6_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\6_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\6_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\6_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\6_po.jpg" data-item="po" alt="img">
				<img src="image\pl\6_pl.jpg" data-item="pl" alt="img">
				<img src="image\gf\6_gf.jpg" data-item="gf" alt="img">
				<img src="image\dm\6_dm.jpeg" data-item="dm" alt="img">
				<img src="image\fp\7_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\7_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\7_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\7_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\7_po.jpg" data-item="po" alt="img">
				<img src="image\pl\7_pl.jpg" data-item="pl" alt="img">
				<img src="image\po\23_po.jpg" data-item="po" alt="img">
				<img src="image\dm\7_dm.jpeg" data-item="dm" alt="img">
				<img src="image\fp\8_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\8_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\8_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\8_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\8_po.jpg" data-item="po" alt="img">
				<img src="image\pl\8_pl.jpg" data-item="pl" alt="img">
				<img src="image\po\22_po.jpg" data-item="po" alt="img">
				<img src="image\dm\8_dm.jpeg" data-item="dm" alt="img">
				<img src="image\fp\9_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\9_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\9_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\9_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\9_po.jpg" data-item="po" alt="img">
				<img src="image\pl\9_pl.jpg" data-item="pl" alt="img">
				<img src="image\po\21_po.jpg" data-item="po" alt="img">
				<img src="image\dm\9_dm.jpeg" data-item="dm" alt="img">
				<img src="image\fp\10_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\10_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\10_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\10_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\10_po.jpg" data-item="po" alt="img">
				<img src="image\pl\10_pl.jpg" data-item="pl" alt="img">
				<img src="image\po\20_po.jpg" data-item="po" alt="img">
				<img src="image\po\19_po.jpg" data-item="po" alt="img">
				<img src="image\fp\11_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\11_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\11_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\11_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\11_po.jpg" data-item="po" alt="img">
				<img src="image\pl\11_pl.jpg" data-item="pl" alt="img">
				<img src="image\po\18_po.jpg" data-item="po" alt="img">
				<img src="image\po\17_po.jpg" data-item="po" alt="img">
				<img src="image\fp\12_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\12_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\12_hb.jpg" data-item="hb" alt="img">
				<img src="image\ext\12_ext.jpg" data-item="pe" alt="img">
				<img src="image\po\12_po.jpg" data-item="po" alt="img">
				<img src="image\fp\13_fp.jpg" data-item="fp" alt="img">
				<img src="image\po\16_po.jpg" data-item="po" alt="img">
				<img src="image\po\15_po.jpg" data-item="po" alt="img">
				<img src="image\fp\19_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\13_aae.jpg" data-item="aae" alt="img">
				<img src="image\hb\13_hb.jpg" data-item="hb" alt="img">
				<img src="immage\ext\13_ext.jpg" data-ite="pe"  alt="img">
				<img src="image\po\13_po.jpg" data-item="po" alt="img">
				<img src="image\fp\14_fp.jpg" data-item="fp" alt="img">
				<img src="image\po\14_po.jpg" data-item="po" alt="img">
				<img src="image\fp\18_fp.jpg" data-item="fp" alt="img">
				<img src="image\fp\15_fp.jpg" data-item="fp" alt="img">
				<img src="image\aae\14_aae.jpg" data-item="aae" alt="img">
				<img src="image\ext\14_ext.jpg" data-item="pe" alt="img">
				<img src="image\ext\15_ext.jpg" data-item="pe" alt="img">
				<img src="image\ext\16_ext.jpg" data-item="pe" alt="img">
				<img src="image\fp\17_fp.jpg" data-item="fp" alt="img">
				<img src="image\fp\16_fp.jpg" data-item="fp" alt="img">
			</div>
			<div class="image-popup">
				<img src="" alt="">
			</div>
		</div>
	<script src="{{ asset ('js/galery.js') }}"></script>
{% endblock %}
